<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>Zacznij naukę</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> Kursy <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="index.html">Rozpoczęte</a></li>
          <li><a href="index2.html">Zakończone</a></li>
          <li><a href="index3.html">Dostępne</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-edit"></i> Certyfikaty <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="form.html">Twoje certyfikaty</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-desktop"></i> Często zadawane pytanie</a>
      </li>
      <li><a><i class="fa fa-table"></i> Poleć znajomemu</a>
      </li>
    </ul>
  </div>
</div>
<!-- /sidebar menu -->